.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to, .fade-leave {
    opacity: 1;
}

.fade-enter-active, .fade-leave-active {
    transition: all 1s;
    background-color: tomato;
}

.fadeLento-enter, .fadeLento-leave-to {
    opacity: 0;
}

.fadeLento-enter-to, .fadeLento-leave {
    opacity: 1;
}

.fadeLento-enter-active, .fadeLento-leave-active {
    transition: all 2s;
    background-color: tomato;
}

.fadeLimpio-enter, .fadeLimpio-leave-to {
    opacity: 0;
}

.fadeLimpio-enter-to, .fadeLimpio-leave {
    opacity: 1;
}

.fadeLimpio-enter-active, .fadeLimpio-leave-active {
    transition: all 2s;
    
}

.fadeRapidoLimpio-enter, .fadeRapidoLimpio-leave-to {
    opacity: 0;
}

.fadeRapidoLimpio-enter-to, .fadeRapidoLimpio-leave {
    opacity: 1;
}

.fadeRapidoLimpio-enter-active, .fadeRapidoLimpio-leave-active {
    transition: all 1s;
    
}

.caer-enter {
    transform: translateY(-80%);
}
.caer-enter-active {
    transition: all 1s;
}
.caer-enter-to{
    transform: translateY(0%);
}


.subir-enter {
    transform: translateY(50px);
}
.subir-enter-active {
    transition: all 1.2s;
}
.subir-enter-to{
    transform: translateY(0%);
}

.entrarPorDerecha-enter {
    transform: translateX(50%);
}

.entrarPorDerecha-enter-active {
    transition: all 1s;
}
.entrarPorDerecha-enter-to{
    transform: translateX(0%);
}



.entrarPorIzquierda-enter {
    transform: translateX(-50%);
}

.entrarPorIzquierda-enter-active {
    transition: all 1s;
}
.entrarPorIzquierda-enter-to{
    transform: translateX(0%);
}



.salirPorDerecha-leave-active {
    transition: all 1s;
}
.salirPorDerecha-leave-to{
    transform: translateX(50%);
    opacity: 0.2;
}



.togglePorDerecha-enter, .togglePorDerecha-leave-to{
    transform: translateX(40%);
    opacity: 0;
}
.togglePorDerecha-enter-active, .togglePorDerecha-leave-active{
    transition: all 1s;
    transition-timing-function: linear;
    pointer-events: none;
}

.togglePorIzquierda-enter, .togglePorIzquierda-leave-to{
    transform: translateX(-40%);
    opacity: 0;
}
.togglePorIzquierda-enter-active, .togglePorIzquierda-leave-active{
    transition: all 1s;
    transition-timing-function: linear;
    pointer-events: none;
}

.togglePorArriba-enter, .togglePorArriba-leave-to{
    transform: translateY(40%);
    opacity: 0;
}
.togglePorArriba-enter-active, .togglePorArriba-leave-active{
    transition: all 1s;
    transition-timing-function: linear;
    pointer-events: none;
}

.popIn-enter{
    transform: scale(0.5);
}
.popIn-enter-active{
    transition: all 0.2s;
}
.popIn-enter-to{
    transform: scale(1.2);
}

.crecerHorizontal-enter{
    transform: scale(0.1, 1);
}
.crecerHorizontal-enter-active{
    transition: all 0.4s;
}
.crecerHorizontal-enter-to{
    transform: scale(1, 1);
}
