<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <link rel="stylesheet" href="figuras.css">
    <link rel="stylesheet" href="animacionesVue.css">
    <title>Nuevas igualdades a partir de igualdades</title>
</head>

<body>
    <div id="doc">

        <p> Si se sabe que dos números son iguales, como es el caso de:</p>

        <ul>
            <li>\(4 \times 2 \)</li>
            <li>\(11 - 3 \)</li>
        </ul>

        Se tiene una igualdad:
        <ul>
            <li><span>\(4 \times 2 \) </span><span>\( = \)</span><span>\(11-3 \)</span></li>
        </ul>

        <p>Si esos dos números son iguales, se puede deducir que otros números construidos a partir de ellos también son iguales.
            Así:
        </p>

        <div id="ejemplo1">

            <button class="botonEjemplo1 botonEjemplo botonAnchoCompleto"
                v-on:click="stepEjemplo1>0?stepEjemplo1=0:stepEjemplo1=1; ejemplo1Mitad1Construida=false; ejemplo1Mitad2Construida=false">
                {{stepEjemplo1===0?'Iniciar':'Reiniciar'}}
            </button>

            <transition name="caer" v-on:after-enter="stepEjemplo1=2">
                <div class="divAnchoCompleto" v-show="stepEjemplo1>=1">\( {4 \times 2} = {11 - 3} \)</div>
            </transition>

            <transition name="fade">
                <div v-show="stepEjemplo1>=2" class="divAnchoCompleto marco conclusion">Esta es la primera igualdad
                </div>
            </transition>

            <transition name="fadeLimpio">
                <button class="botonEjemplo1 botonEjemplo botonAnchoCompleto" v-show="stepEjemplo1>=2"
                    v-on:click="stepEjemplo1=3">
                    Continuar
                </button>
            </transition>

            <div class="instruccion transversal" v-show="stepEjemplo1>=3">Selecciona una operación matemática que se aplicará en los dos números de la igualdad original</div>

            <div id="contenedorSelectoresOperacion" class="transversal" v-show="stepEjemplo1>=3">
                <div class="selectorOperacion" v-for="(operacion, index) of operacionesPosibles" :title="operacion.nombre"
                :class="{seleccionado:operacionSeleccionada==index}"
                v-on:click="operacionSeleccionada=index"
                >
                    <div class="codigo">
                        \({{operacion.simbolo}}\)
                    </div>
                </div>
            </div>

            <div class="instruccion transversal" v-show="stepEjemplo1>=3">Y un número</div>

            <input type="range" min="1" max="50" v-model="numeroAmbosLados" class="transversal" v-show="stepEjemplo1>=3">
            <div id="numeroAmbosLados" class="transversal" v-show="stepEjemplo1>=3">{{numeroAmbosLados}}</div>

            <transition name="fadeRapidoLimpio">
                <button :key="versionOperacionAmbosLados" class="botonEjemplo1 botonEjemplo" v-show="stepEjemplo1>=3"
                    v-on:click="ejemplo1Mitad1Construida=true">
                    Construir un nuevo número mediante una {{operacionesPosibles[operacionSeleccionada].nombre}} entre \((4 \times 2) \)
                    y {{numeroAmbosLados}}
                </button>
            </transition>

            <transition name="fadeRapidoLimpio">
                <button :key="versionOperacionAmbosLados" class="botonEjemplo1 botonEjemplo" v-show="stepEjemplo1>=3"
                    v-on:click="ejemplo1Mitad2Construida=true">
                    Construir un número mediante una {{operacionesPosibles[operacionSeleccionada].nombre}} entre \((11 - 3) \)
                    y {{numeroAmbosLados}}
                </button>
            </transition>

            <transition name="caer">
                <div class="columnaIzquierda" v-show="ejemplo1Mitad1Construida===true" :key="versionOperacionAmbosLados">{{mitad1}}
                </div>
            </transition>

            <transition name="caer">
                <div class="columnaDerecha" v-show="ejemplo1Mitad2Construida===true" :key="versionOperacionAmbosLados">{{mitad2}}</div>
            </transition>

            <transition name="fadeRapidoLimpio">
                <button class="botonEjemplo1 botonEjemplo botonAnchoCompleto"
                    v-show="ejemplo1Mitad1Construida==true && ejemplo1Mitad2Construida==true && stepEjemplo1>=3"
                    v-on:click="stepEjemplo1=4">
                    Si los dos números originales son iguales... ¡Estos dos nuevos números también son iguales!
                </button>
            </transition>

            <transition name="caer" v-on:after-enter="stepEjemplo1=5">
                <div class="divAnchoCompleto" v-show="stepEjemplo1>=4" :key="versionOperacionAmbosLados">
                    {{nuevaEcuacion}}</div>
            </transition>

            <transition name="fade">
                <div class="divAnchoCompleto marco conclusion" v-show="stepEjemplo1>=5">
                    ¡Esta es una nueva igualdad!</div>
            </transition>

        </div>

        <p>En general, si los dos primeros números son iguales y se aplica
            la misma operación matemática a cada uno, los dos resultados serán iguales entre sí,
            lo cual se puede escribir bajo la forma de una nueva igualdad.
        </p>


    </div>
</body>

</html>

<script>
    const doc = new Vue({
        el: "#doc",
        data() {
            return {
                operacionesBasicas: [
                    {
                        codigo: " + ",
                        simbolo:" + ",
                        nombre: "suma",
                    },
                    {
                        codigo: " - ",
                        simbolo: " - ",

                        nombre: "resta"
                    },
                    {
                        codigo: " \\times ",
                        simbolo: " \\times ",

                        nombre: "multiplicación"
                    },
                    {
                        codigo: " \\over ",
                        simbolo: " \\div ",

                        nombre: "división"
                    }
                ],

                operacionSeleccionada:0,

                stepEjemplo1: 0,
                ejemplo1Mitad1Construida: false,
                ejemplo1Mitad2Construida: false,

                operacionAmbosLados: " + ",
                numeroAmbosLados: "1",
                versionOperacionAmbosLados:0,

            }
        },
        computed: {
            operacionesPosibles() {
                return this.operacionesBasicas;
            },
            mitad1(){
                const mitad1="(4 \\times 2)"+this.operacionesPosibles[this.operacionSeleccionada].codigo + this.numeroAmbosLados;
                return "\\("+mitad1+"\\)";
            },
            mitad2(){
                const mitad2="(11 - 3)"+this.operacionesPosibles[this.operacionSeleccionada].codigo + this.numeroAmbosLados;
                return "\\("+mitad2+"\\)";
            },
            nuevaEcuacion(){
                console.log(`substr1: ${this.mitad1.substr(2, this.mitad1.length-4)}`);
                console.log(`substr2: ${this.mitad2.substr(2, this.mitad2.length-4)}`);

                const nueva= "{"+this.mitad1.substr(2, this.mitad1.length-4)+"}={"+this.mitad2.substr(2, this.mitad2.length-4)+"}";
                return "\\("+nueva+"\\)";
            }
        },
        methods:{
            reloadBotonesNuevosNumeros(){
                this.versionOperacionAmbosLados=this.versionOperacionAmbosLados+1;            

                this.$nextTick(()=>{
                    MathJax.typeset();
                })
            },            
        },
        watch:{
            numeroAmbosLados(){
                this.reloadBotonesNuevosNumeros();
            },
            operacionSeleccionada(){
                this.reloadBotonesNuevosNumeros();
            }
            
        }

    })
</script>

<style>
    body {
        padding: 2% 5%;
    }

    .recuadro {
        width: 80%;
    }

    #ejemplo1 {
        border: 2px solid blueviolet;
        border-radius: 20px;
        padding: 10px;
        padding-bottom: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        justify-items: center;
    }

    .botonAnchoCompleto {
        grid-column: 1/3;
    }

    .transversal {
        grid-column: 1/3;
    }

    .botonEjemplo {
        max-width: 600px;
        margin: 10px auto;
        padding: 10px 20px;
    }

    .divAnchoCompleto {
        grid-column: 1/3;
    }

    .conclusion {
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgb(87, 196, 87);
    }

    .columnaDerecha {
        grid-column: 2/3;
    }

    .columnaIzquierda {
        grid-column: 1/2;
    }

    .selectorOperacion {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(73, 73, 73);
        cursor: pointer;
        display: inline-block;
        margin: 10px;
    }

    .selectorOperacion:hover {
        background-color: cadetblue;
    }

    .seleccionado{
        background-color: cadetblue;
    }

    .codigo {
        text-align: center;
        margin-top: 10px;
    }
</style>