.expresionConResultado{
    padding: 10px;
}

.expresionConResultado>.expresion{
    
    display: inline;
}

.expresionConResultado:hover>.expresion{
    display: none;
}
.expresionConResultado>.resultado{
    display: none;

}

.expresionConResultado:hover>.resultado{
    display: inline;

}

.palabraCambiante{
    padding: 10px;
}

.palabraCambiante>.primaria{    
    display: inline;
    user-select: none;
}

.palabraCambiante:hover>.primaria{
    display: none;
}
.palabraCambiante>.secundaria{
    display: none;
    user-select: none;
}

.palabraCambiante:hover>.secundaria{
    display: inline;
}